@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --text-size: 1.5rem;
    --text-color: rgb(51, 48, 59);
    --text-line-height: 1.5;
    --blog-title-size: 3.5rem;
    --bg-color: #F1DEC6;
    --box-color: #F1DEC6;
    --title-color: #179BAE;
    --border-color: #FF8343;
    --footer-color: #4158A6;
    --footer_text-color: #FF8343;
}

body{
    background-color: var(--bg-color)!important;    /*название тега*/
    font-family: "Roboto", sans-serif!important;
    line-height: var(--text-line-height)!important;
    min-height: 100vh;
    font-size: calc(var(--text-size) + (20 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
    display: flex!important;
    flex-flow: column!important;
    justify-content: space-between;
}

h1, h2, h3, h5, h6 {
    font-family: "Lora", serif!important;
    line-height: 1.2;
    font-size: clamp(1.5rem, 3.5vw, 2.5rem)!important;
}

#left-side{
    max-height: 100vh;                              /*# - id*/
}

.box{
    background-color: var(--box-color)!important;   /*. - класс*/
    border: solid 1px var(--border-color);
}

.title{
    color: var(--title-color)!important;
}

.title >a{
    color: var(--title-color)!important;
}

.footer{
    background-color: var(--footer-color)!important;
    width: 100vw!important;
    color: var(--footer_text-color)!important;
}

.image{
    height: auto!important;
    max-width: 25%!important;
    margin-top: 2vh;
}

.navbar{
    display: flex!important;
    padding-bottom: 2vh!important;
    justify-content: space-between!important;
    align-items: flex-end!important;
    background-color: transparent!important;
    border-bottom: solid 1px var(--border-color);
}

.button{
    border-color: var(--border-color)!important;
    display: inline-flex!important;
}

.button:hover{
    background-color: var(--border-color)!important;
}

form{
    width: 30%!important;
    justify-content: center!important;
    align-items: center!important;
    margin: 0 auto;
}

ul{
    margin: 0 auto!important;
    margin-top: 3vh!important;
    width: 90%!important;
}

ul li{
    border-bottom: solid 1px var(--border-color);
    padding: 1.5vh 0;
    display:flex;
    justify-content: space-between;
}

li>div{
    width: 80%;
}

li a{
    display:block;
}

#admin-header{
    display:flex;
    padding: 2.5vh 5%;
    align-items: center;
}

#admin-header h2{
    max-width: 50%;
    margin: 0 2vw 0 0!important;
}

#admin-header img{
    border-radius: 50%;
}

header+div{
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
}

#post-editor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start!important;
    align-items: flex-start!important;
}

.blogpost> img{
    display: block;
    width: 100%;
    height: auto;
    margin: 2vh auto;
}

.blogpost ul{
    padding: 0!important;
    margin: 0!important;
    list-style-type: circle !important;
}

.blogpost ul li{
    border-bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 2;
}

.blogpost{
    padding: 2vmax 3vmax!important;
}

.blogpost> h2, .blogpost> h3, .blogpost> h4{
    padding: 0 !important;
    margin: 0 !important;
}

.blogpost> p{
    margin: 1.5vh 0;
}

.blogpost .author{
    font-style: italic;
}

.author{
    color: var(--text-color);
    margin-top: 1.5vmin!important;
}

.post-header{
    margin-bottom: 2vmin;
}

#logo {
    display: inline-block;
    width: 10vmin;
    height: auto;
    vertical-align: sub;
    margin-top: 3vmin;
}

#plusbt {
    width: 3rem;
    height: auto;
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.delete-btn {
    width: 2rem;
    height: auto;
}

textarea {
    width: 30vw;
    height: 30vh;
}

.tile.is-ancestor {
    margin-left: 5vw!important;
    margin-right: 5vw!important;
}

#dashboard-btn {
    width: 30%;
    margin-top: 2vh;
}