{%extends "base.html"%}
{%block content%}

<div class = "tile is-vertical is-parent">
<section class = "tile is-child box">
<header id="admin-header">
<h2 class="title is-2">admin: {{user.username}}</h2>
<img src="{{user.avatar(64)}}" alt="avatar">
{%if user.about_me%}
    <p>
        {{user.about_me}}
    </p>
{%endif%}
{%if user.last_seen%}
    <p>
        last_seen: {{user.last_seen}}
    </p>
{%endif%}
</header>
<div>
<a href="{{url_for('post_editor', action = 'new')}}" id="new-post-btn" class="button">Create new blogpost</a>
</div>
<ul>
    {%for post in posts%}
    <li>
        <div>
        <h3 class="title is-5">{{post.post_title}}</h3>
        <h4 class="subtitle is-6">author: {{post.author.username}}</h4>
        </div>
    <a class="button" href="{{url_for('post_editor', action = 'update', id = post.id)}}">Update</a>
    <a class="button" href="{{url_for('delete', id = post.id)}}">Delete</a>
    </li>
    {%endfor%}
</ul>
</section>
</div>
{%endblock%}