<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <script src="{{url_for('static', filename = 'loadSettings.js')}}" defer></script>
    <title>{{title}}</title>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"> <!--CDN (так пишется комментарий)-->
</head>
<body>
    <section class = "section">
        <div class = "container">
           <span class = "title navbar">
                {%for component in components%}
                {%if component.component_type == "blog name"%}
                <div id="logo_container">
                {%if not current_user.is_anonymous%}
                <span>
                <a href="/index" class="title"> {{component.component_title}} <img id="logo" src="{{url_for('static', filename = 'logo.svg')}}" alt=""></a>
                <a href="{{url_for('component_editor', action = 'update', id = component.id)}}"><img src="{{url_for('static', filename = 'edit_icon.svg')}}" alt=""></a>
                </span>
                {%else %}
                <a href="/index" class="title"> {{component.component_title}} <img id="logo" src="{{url_for('static', filename = 'logo.svg')}}" alt=""></a>
                {%endif%}
                {%else %}
                <span>
                </span>
                <div class="icon-bar">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                </div>
                {%endif%}
                {%endfor%}
                {%if current_user.is_anonymous%}
                <a href="{{url_for('login')}}" class="button is-primary is-medium is-outlined navbar-item">Log in</a>
                {%else%}
                <a href="{{url_for('logout')}}" class="button is-primary is-medium is-outlined navbar-item">Log out</a>
                {%endif%}
                </div>
           </span>
           <br>
           <br>
    {%with messages = get_flashed_messages()%}
    {%if messages%}
    <ul>
        {%for message in messages%}
        <li>{message}</li>
        {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
    <div class = "tile is-ancestor">
        <div class = "tile is-4 is-vertical is-parent" id="left-side">
            {%for component in components%}
            {%if component.component_type == "sitebar component"%}
           <div class = "tile is-child box">
            {%if not current_user.is_anonymous%}
            <a href="{{url_for('component_editor', action = 'update', id = component.id)}}"><img src="{{url_for('static', filename = 'edit_icon.svg')}}" alt=""></a>
            <a href="{{url_for('component_delete', id = component.id)}}"><img class= "delete-btn", src="{{url_for('static', filename = 'delete-svgrepo.svg')}}" alt=""></a>  
            {%endif%}  
            <p class = "title">{{component.component_title}}</p>
              {{component.component_body | safe}}
           </div>
           {%endif%}
           {%endfor%}
        </div>
        {%if not current_user.is_anonymous%}
        <a href="{{url_for('component_editor', action = 'new')}}"><img id= "plusbt", src="{{url_for('static', filename = 'plus-svgrepo.svg')}}" alt=""></a>
        {%endif%}
        {%block content%}{%endblock%}
        </div>
    </div>
    </section>
    <footer class="footer has-text-centered content">copyright-2024</footer>
</body>
</html>
