{%extends "base.html"%}
{%block content%}

<form action=""method = "post" novalidate>
    <h2 class="title">Passwordreset</h2>
    {{form.hidden_tag()}}

    {{form.password.label(class="label")}}
    {{form.password(size = 16, class="input")}}
    {{form.password_2.label(class="label")}}
    {{form.password_2(size = 16, class="input")}}
    {%for error in form.password_2.errors%}
    <span>{{error}}</span>
    {%endfor%}
    <br>
    {{form.answer.label(class="label")}}
    {{form.answer(size = 16, class="input")}}
    {%for error in form.answer.errors%}
    <span>{{error}}</span>
    {%endfor%}
    <br>
    {{form.submit(class="button")}}

</form>
{%endblock%}