{%extends "base.html"%}
{%block content%}
<form id="post-editor" method = "post" novalidate>
    <h2 class="title">Post Editor</h2>
    {{form.hidden_tag()}}
    {%if post%}
    {{form.post_title.label(class="label")}}
    {{form.post_title(size = 70, class="input", value = post.post_title)}}
    {%for error in form.post_title.errors%}
    <span>{{error}}</span>
    {%endfor%}
  
    {{form.hidden_tag()}}
    {{form.post_body.label(class="label")}}
    {{form.post_body(class="textArea", default = post.post_body)}}
    {%else%}
    {{form.post_title.label(class="label")}}
    {{form.post_title(size = 70, class="input")}}
    {%for error in form.post_title.errors%}
    <span>{{error}}</span>
    {%endfor%}
  
    {{form.hidden_tag()}}
    {{form.post_body.label(class="label")}}
    {{form.post_body(class="textArea")}}
    {%endif%}
    <br>
    {{form.submit(class="button")}}
</form>

{%endblock%}