{%extends "base.html"%}
{%block content%}
<form id="post-editor" method = "post" novalidate>
    <h2 class="title">Post Editor</h2>
    {{form.hidden_tag()}}
    {{form.post_title.label(class="label")}}
    {{form.post_title(size = 75, class="input")}}
    {%for error in form.post_title.errors%}
    <span>{{error}}</span>
    {%endfor%}
  
    {{form.hidden_tag()}}
    {{form.post_text.label(class="label")}}
    {{form.post_text(cols = 60, rows = 8, class="textArea")}}
  
    <br>
    {{form.submit(class="button")}}
</form>

{%endblock%}