{%extends "base.html"%}
{%block content%}

<form action=""method = "post" novalidate>
    <h2 class="title">Register</h2>
    {{form.hidden_tag()}}
    {{form.username.label(class="label")}}
    {{form.username(size = 16, class="input")}}
    {%for error in form.username.errors%}
    <span>{{error}}</span>
    {%endfor%}

    {{form.email.label(class="label")}}
    {{form.email(size = 16, class="input")}}
    {%for error in form.email.errors%}
    <span>{{error}}</span>
    {%endfor%}

    {{form.password.label(class="label")}}
    {{form.password(size = 16, class="input")}}
    {{form.password_2.label(class="label")}}
    {{form.password_2(size = 16, class="input")}}
    {%for error in form.password_2.errors%}
    <span>{{error}}</span>
    {%endfor%}
    <br>
    {{form.submit(class="button")}}
</form>
{%endblock%}